@charset "utf-8";

*{
	margin: 0px;
	padding: 0px;
	font-family: arial, helvetica, sans-serif;
}

html, body{
	height: 100vh;
	width: 100vw;
	background-color: black;
}

main{
	´position: relative;
	height: 100vh;
	background-color: green;
}

section#telefone{
	position: absolute;
	height: 500px;
	width: 500px;
	background-color: blue;
}